:root{
    --text_a:#000;
    --text_b:#ddd;
    --bg_color_p:#333;
    --bg_color_q:#555;
    --bg_color_r:#777;
    --bg_color_s:#999;
    --bg_color_t:#ddd;
}

[data-theme="dark"] {
    --text_a:#ddd;
    --text_b:#ddd;
    --bg_color_p:#000;
    --bg_color_q:#ccc;
    --bg_color_r:#999;
    --bg_color_s:#222;
    --bg_color_t:#555;
}