nav {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg_color_s);
    transition: all 0.3s ease-in-out;
}

.profile-cont {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile {
    width: 210px;
    border-radius: 300px;
}

.menu-bar {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menu-button {
    width: 210px;
    height: 35px;

    border: 0;
    border-radius: 100px;
    background-color: var(--bg_color_t);

    font-size: 18px;

    transition: 0.3s all ease-in-out;

    &:hover {
        background-color: var(--bg_color_r);
        transition: 0.1s all ease-in-out;
    }

    &:active {
        background-color: var(--bg_color_q);
        transition: 0.1s all ease-in-out;
    }

    &:disabled {
        background-color: var(--bg_color_p);
        color: var(--text_b);
    }

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}